.chatPage {
	--pattern-color: #505bc74d;

	position: relative;

	width: 100%;
	height: 100vh;

	display: flex;
	flex-direction: column;

	overflow: hidden;

	background-color: var(--color-background);
}

.chatPage::before {
	content: '';

	position: absolute;
	inset: 0;

	background-color: var(--pattern-color);

	-webkit-mask-image: url('../../assets/background.svg');
	mask-image: url('../../assets/background.svg');

	-webkit-mask-repeat: repeat;
	mask-repeat: repeat;

	-webkit-mask-position: 0 0;
	mask-position: 0 0;

	-webkit-mask-size: 280px 280px;
	mask-size: 280px 280px;

	pointer-events: none;
	z-index: 0;
}

.chatPage > * {
	position: relative;
	z-index: 1;
}

.messagesArea {
	flex: 1 1 auto;
	min-height: 0;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;
	box-sizing: border-box;

	/* Firefox */
	scrollbar-width: none;

	/* IE / Edge legacy */
	-ms-overflow-style: none;
}

.messagesArea::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
}

.messagesList {
	width: 100%;
	max-width: 900px;
	min-height: 100%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 8px;

	box-sizing: border-box;
}

.noMessages {
	border-radius: 16px;
	color: var(--color-text-primary);
	background: var(--color-input-background);
	font-size: 18px;
	line-height: 1.4;
	padding: 8px 10px;
	width: fit-content;
	margin: auto;
	cursor: default;
}
