@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

body {
	margin: 0;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		sans-serif;
	--color-background: #111315;
	--color-background-card: #17181c;
	--color-border-card: #292b30;
	--color-text-primary: #f1f1f1;
	--color-text-secondary: #85878c;
	--color-input-background: #202226;
	--color-button: #335eb5;
	--color-button-hover: #2f6ce5;
	--color-border-input: #35383e;
	--color-border-input-hover: var(--color-button);
	--color-message-gradient1: var(--color-button);
	--color-message-gradient2: #591ab7;
	--color-message-incoming: #3a3d43;
	background-color: var(--color-background);
}

h1,
h2 {
	font-family: var(--heading);
	font-weight: 500;
	color: var(--text-h);
}

h1 {
	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;
	@media (max-width: 1024px) {
		font-size: 36px;
		margin: 20px 0;
	}
}
h2 {
	font-size: 24px;
	line-height: 118%;
	letter-spacing: -0.24px;
	margin: 0 0 8px;
	@media (max-width: 1024px) {
		font-size: 20px;
	}
}
p {
	margin: 0;
}
